@model Fall2025_Project3_nchubbell.Models.ActorMovie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ActorMovie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class="col-sm-10">
            @* You can switch back to Genre if you prefer *@
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink(
    "Edit",
        "Edit",
        new { actorId = Model.ActorId, movieId = Model.MovieId }
        )
    |
    @Html.ActionLink(
        "Delete",
        "Delete",
        new { actorId = Model.ActorId, movieId = Model.MovieId }
        )
    |
    <a asp-action="Index">Back to List</a>
</div>
